cython-bbox==0.1.3
dcnv2==0.1
fvcore==0.1.5.post20220119
lap==0.4.0
matplotlib==3.5.1
motmetrics==1.2.0
opencv-python==4.5.5.62
openpyxl==3.0.9
pip-chill==1.0.1
progress==1.6
tensorboardx==2.4.1
sklearn==0.0